@font-face {
  font-family: Inconsolata;
  src: url(fonts/Inconsolata/Inconsolata-VariableFont_wdth,wght.ttf);
}

@font-face {
  font-family: pokemonGB;
  src: url(fonts/PokemonGB/PokemonGb-RAeo.ttf);
}

@font-face {
  font-family: pkfontDS;
  src: url(fonts/pkfontDS/pkmndp.ttf);
}


h1 {
  font-weight: bold;
  text-align: center;
  font-family: Inconsolata;
}

p {
  text-align: center;
  font-family: Inconsolata;
}

body {
  color: white;
  background-color: #333333;

}

/*////////////////////////////////////////////////////////////////////////////*/

/*GENERAL WRAPPERS*/

.wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}

.noborderiframe {
  border: none;
  margin: 0px;
  padding: 0px;
}

/*GENERAL STUFF*/
button {
  background-color: #606060;
  border: solid black 2px;
  text-align: center;
  font-family: Inconsolata;
  font-size: 20px;
  text-align: center;
  transition-duration: .25s;

}
button:hover {
  background-color: white;

}

/*////////////////////////////////////////////////////////////////////////////*/

/*LOADING SPECIFIC SELECTORS*/
#LOADINGBODY {

}

#loadingwrapper {
  display: flex;
  align-self: center;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

#loadingimg {
  margin: 150%;
  -webkit-animation: flicking 2s; /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count: infinite;
  animation: flicking 2s infinity;
  animation-iteration-count: infinite;
}

@-webkit-keyframes flicking {
  0%   {opacity:1}
  25%  {opacity:0}
  50%  {opacity:1}
  75%  {opacity:0}
  100% {opacity:1}
}

/* Standard syntax */
@keyframes flicking {
  0%   {opacity:1}
  25%  {opacity:0}
  50%  {opacity:1}
  75%  {opacity:0}
  100% {opacity:1}
}

/*////////////////////////////////////////////////////////////////////////////*/

/*GENERAL AUTH SELECTORS*/

.authbody {
  margin: 0rem;
}

.authwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.underlined {
  text-decoration: underline;
  color: #B3FFFF;
  font-family: Inconsolata;
  cursor: pointer;
  margin-bottom: 10%;
}

.submitbutton {
  margin: .4rem;
  width: 50%;
}

.autherror {
  margin-top: 0;
  color: #f28080;
}

.authbottomaligneddiv {
  position: absolute;
  width: 100%;
  bottom: 5%;
}

form {
  text-align: center;
}


input[type="username"],input[type="password"], input[type="email"] {
  margin: .3rem;
  border: solid black 2px;
  font-family: Inconsolata;
  padding: .4rem;
  background-color: #5a5a5a;

}

/*LOGIN SPECIFIC SELECTORS*/
#LOGINBODY {

}

#logoutbutton {
  align-self: flex-end;
}

/*SIGNUP SPECIFIC SELECTORS*/
#SIGNUPBODY {

}

/*////////////////////////////////////////////////////////////////////////////*/

/*GENERAL GAME SELECTORS*/
.gamebutton {
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 10%;
  padding-left: 2%;
  padding-right: 2%;
}

.bottomaligneddiv {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.gamefont {
  font-weight: normal;
  font-family: pkfontDS;
}

.activebutton {
  background-color: #fcc96a;
}

.activebutton:hover {
  background-color: #fcc96a;
}

.wattp {
  font-family: pkfontDS;
  font-size: 24px;
  margin: .2rem;

}

/*BOX SPECIFIC SELECTORS*/
#BOXBODY{
}

#boxdiv {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  width: 80%;
  padding: 0;
  margin: 0;
}

/*HOME SPECIFIC SELECTORS*/
#HOMEBODY{
}

/*CATCH SPECIFIC SELECTORS*/
#CATCHBODY{
}

#catchwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  text-align: center;
  flex-direction: column;

}

#encounterbutton {
  width: 50%;
  height: 50%;
  flex-grow: 5;
}

.homewrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  text-align: center;
  flex-direction: column;
}
