@font-face {
  font-family: Inconsolata;
  src: url(Inconsolata/Inconsolata-VariableFont_wdth,wght.ttf);
}

.wrapper {
  text-align: center;
}

.authbody {
  margin: 0rem;
}

.noborderiframe {
  border: none;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-weight: bold;
  text-align: center;
  font-family: Inconsolata;
}
body {
  color: white;
  background-color: #333333;



}

form {
  text-align:center;
}


input[type="username"],input[type="password"], input[type="email"] {
  margin: .2rem;
  border: solid black 2px;
  font-family: Inconsolata;
  padding: .4rem;
  background-color: #444444;

}

input[type="submit"] {
  margin: .2rem;
  background-color: #404040;
  border: solid black 2px;
  font-family: Inconsolata;
  font-size: 20px;
  text-align: center;
  transition-duration: .5s;
}
input[type="submit"]:hover {
  background-color: white;
}

button {
  background-color: #404040;
  border: solid black 2px;
  text-align: center;
  font-family: Inconsolata;
  font-size: 20px;
  text-align: center;
  transition-duration: .5s;

}
button:hover {
  background-color: white;

}

#signupFrame {
  background: #BBBBBB;
}

.underlined {
  /* text-decoration: underline; */
  color: #B3FFFF;
  font-family: Inconsolata;
  cursor: pointer;

}
